<h1>User#sendMail</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/sendMail.html.erb
</p>

<p>
  <%= @greeting %>,Go throw this link to verify your mail http://127.0.0.1:3000/verify/token=<%= @token %>
</p>