<%= link_to("BACK", user_admin_path, :class => 'back-link')%>
<div>
  <h1>Delete Admin Details</h1>
  <%= form_for(@admin,:url => user_admin_path(@admin),:method => 'delete')do |f| %>
  <p>Are you sure you want to delete </p>


  <div>
    <%= f.submit("Delete Admin Details")%>
  </div>
  <%end%>
</div>