<h1> Skills Dashboard </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @employee_skills.each do |skill| %>
      <tr>
        <td><%= skill.skill.name %></td>
        <td><%=link_to("Delete ",user_employee_skill_path(params[:user_id],skill.id),method: :delete ,:class=>'action delete')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to 'Add Skills', new_user_employee_skill_path, method: :get %>
<%= button_to 'Back to Employee Dashboard', user_employee_index_path, method: :get %>